/* colors */
@light-blue: #67aff6;
@blue: #2788d7;
@dark-blue: #1b50b0;
@gray: #f2f2f2;
@dark-gray: #d5d5d5;

body {
  font-family: sans-serif;
  background: @gray;
}

header {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  background: @dark-blue;
  color: white;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background: @blue;
  font-size: 1.2em;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.45);

  a {
    &:link, &:hover, &:focus, &:active, &:visited {
      color: white;
      text-decoration: none;
      padding: 0.7em 0.8em 0.6em 0.8em;
    }

    &:hover {
      background: @light-blue;
    }
  }
}

main {
  width: 68rem;
  margin: 2em auto;
  padding: 1.5em;
  box-sizing: border-box;
  background: white;
  border: 1px solid @dark-gray;
}