{# header #}

{! IF (login-successful) !}
    <h1>Sie wurden als {% username %} angemeldet.</h1>
{! ELSE !}
    {! IF (show-form) !}
        <h1>Anmelden</h1>
        <div class="form">
            <form method="post" action="index.php?page=login">
                Benutzername <input type="text" name="username"><br>
                Passwort <input type="password" name="password"><br>
                <button type="submit" name="login_submit">Anmelden</button>
            </form>
        </div>
    {! ELSE !}
        <h1>Sie konnten nicht angemeldet werden. Bitte versuchen Sie es später erneut!</h1>
    {! ENDIF !}
{! ENDIF !}

{# footer #}